<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indev.library">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JBFLibrary"
        tools:targetApi="31">
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".MainMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeleteSubscriberActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeleteBookActivity"
            android:parentActivityName=".BookListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarChartLast1Activity"
            android:exported="false"
            android:parentActivityName=".DashBoardLastActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DashBoardLastActivity"
            android:exported="false"
            android:parentActivityName=".DashBoardBaarChartActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DashBoardBaarChartActivity"
            android:exported="false"
            android:parentActivityName=".DashBoardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DashBoardActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SyncronizeActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReportingListActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityReportingActivity"
            android:exported="false"
            android:parentActivityName=".ReportingListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IssueButtonActivity"
            android:exported="false"
            android:parentActivityName=".BookListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookReceiverListActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookIssueListActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddReceiverActivity"
            android:exported="false"
            android:parentActivityName=".BookReceiverListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddIssueActivity"
            android:exported="false"
            android:parentActivityName=".BookIssueListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SubscriberListActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookListActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddSubscribeActivity"
            android:exported="false"
            android:parentActivityName=".SubscriberListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddBookNameActivity"
            android:exported="false"
            android:parentActivityName=".BookListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>